/*  logo */
.logo {
    height: 40px !important;
    width: 70px !important;
    object-fit: cover;
}

.logo-medium {
    height: 50px !important;
}

.logo-big {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.navbar-nav {
    flex-direction: row !important;
    justify-content: space-between !important;
}

.active {
    font-weight: 600;
    color: var(--title) !important;
}

.select-category {
    border: 1px solid var(--title) !important;
}

.select-category .text-white {
    color: var(--title) !important;
}
